# 1. Define Python ?

Python is a high-level, general-purpose, and very popular programming language. Python programming language using version(Python 3) and it is being used in web development, and Machine Learning applications, along with all cutting-edge technology in Software Industry. Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc.

### example

In [2]:
# Python Program to print Hello World 
print("Hello World! I am Bunari Sai Sumanth");

Hello World! I am Bunari Sai Sumanth

# 2. Valid Variables and Invalid Variables ?

1. Variable names must start with a letter or the underscore character.
2. Variable names cannot start with a number.
3. Variable names can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
4. Variable names are case-sensitive (age, Age and AGE are three different variables).
5. Variable names cannot be keywords.

### examples of Valid valiables
myvar, my_var, _my_var, myvar, myvar2.

### examples of Invalid variables.

2myvar, my variable, my-var, myVar, class, @class.

# 3. Define List ?

Lists are used to store multiple items in a single variable. List literals are written within square brackets [ ]. use the len() function and square brackets [ ] to access data, with the first element starts at index 0 from left to right is(+) and with the last element starts at index -1 from right to left(-)

### creating 10 elements in list

In [36]:
gods = ["shiva", "vishnu", "ganesh", "hanuman", "narasimha", "ram", "krishna", "kalki", "lakshmidevi", "venkateshwaraswamy"]
print(len(gods));

10

### acessing the list elements using positive index

print(colors[0]);    
print(colors[2]);
print(colors[4]);
print(colors[7]);

### acessing the list elements using negative index

In [37]:
print(gods[-6]);
print(gods[-3]);
print(gods[-4]);
print(gods[-2]);

narasimha
kalki
krishna
lakshmidevi

### methods in list data type

#### 1. Append(): adding the element to the end of the list.

In [40]:
list1 = [1231,232,323,4534,5635,4542]
list1.append(4343)
print(list1);

[1231, 232, 323, 4534, 5635, 4542, 4343]

#### 2. Extend(): adding each element at the end.

In [41]:
list2 = [1098, "Hanuman"]
sai = [7923]
list2.extend(sai)
print(list2);

[1098, 'Hanuman', 7923]

# 4. Create a String ?

In [45]:
#example1 Creating a String with single Quotes
String1 = 'Welcome to my world'
print(String1); 

#example2 Creating a String with double Quotes
String2 = "I'm Sumanth"
print(String2);
  
#example3
# Creating a String with triple Quotes
String3 = '''I'm Sumanth and I live in India'''
print(String3);

Welcome to my world
I'm Sumanth
I'm Sumanth and I live in India

### accessing the string using positive index

In [43]:
print(String1[0]);

W

### accessing the string using negative index

In [46]:
print(String2[-5]);

m

### methods in String data type

#### 1. count(): Returns the number of occurrences of a substring in the string.

In [49]:
my_string = "sai sumanth bunari"
char_count = my_string.count('a')
print(char_count);

3

#### 2. capitalize(): Converts the first character of the string to a capital (uppercase) letter.

In [50]:
name = "hanuman"
print(name.capitalize());

Hanuman

# 5. create tuple ?

In [58]:
# Creating an empty Tuple
Tuple1 = ()
print(Tuple1);

# Creating a Tuple with the use of a string
Tuple2 = ('Apple', 'For')
print(Tuple2);

# Creating a Tuple with the use of a list
list3 = [1, 2, 4, 5, 6]
print(tuple(list3));

# Creating a Tuple with Mixed Datatype
Tuple4 = (5, 'Welcome', 7, 'class')
print(Tuple4);

# Creating a Tuple with nested tuples
a = (0, 1, 2, 3)
b = ('python', 'tuple')
c = (a, b)
print(Tuple3);

# Creating a Tuple with repetition
A = ('sumanth',) * 3
print(A);

# Creating a Tuple with the use of built-in function
B = tuple('sai')
print(B);

()
('Apple', 'For')
(1, 2, 4, 5, 6)
(5, 'Welcome', 7, 'class')
((0, 1, 2, 3), ('python', 'geek'))
('sumanth', 'sumanth', 'sumanth')
('s', 'a', 'i')

### accessing the tuple using positive index

In [60]:
print(Tuple4[2]);

7

### accessing the tuple using negative index

In [62]:
print(Tuple4[-1]);

class

### methods in tuple data type

#### 1. count(): returns the number of times the given element appears in the tuple.

In [67]:
x = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
res1 = x.count(3) 
print(res1);

3

#### 2. index(): returns the first occurrence of the given element from the tuple.

In [69]:
X = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res2 = X.index(3) 
print('X.index(3):', res2);

X.index(3): 3

# 6. crearte dictionary ?

In [84]:
Dict = {'Name': 'a', 1: [1, 2, 3, 4], "a": 45}
print(Dict);

{'Name': 'a', 1: [1, 2, 3, 4], 'a': 45}

### accessing the dictionary

In [76]:
Dict = {1: 'One', 'name': 'Sumanth', 3: 'number'}
#Accessing a element using key value
print(Dict['name']);

#Accessing a element using key value
print(Dict[1]);

Sumanth
One

### methods in dictionary date type

#### 1. clear(): removes all items from the dictionary.

In [79]:
text = {1: "One", 2: "two"} 
text.clear()
print('text =', text);

text = {}

#### 2. get(): return the value for the given key if present in the dictionary.

In [83]:
#example1
d1 = {'coding': 'good', 'thinking': 'better'}
print(d1.get('coding'));

#example2
d2 = {1: '001', 2: '010', 3: '011'}
print(d.get(4, "Not found"));

good
Not found